{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
{{message}}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<form method="POST" action='/movies'>
    <div class="form-group">
      <label for="MoiveTitle">Moive Title</label>
      <input type="text" class="form-control" id="MoiveTitle"  name= "MoiveTitle"aria-describedby="MoiveTitle" placeholder="Enter The Moive Title">
    </div>
    <div class="form-group">
        <label for="MoiveTitle">Direactor</label>
        <input type="text" class="form-control" id="direcatorName"  name= "direcatorName"aria-describedby="direcatorName" placeholder="Enter The Direactors Name">
      </div>
    <div class="form-group">
      <label for="Rating">Rating</label>
      <input type="number" class="form-control" id="rating" name="rating" placeholder="Enter A Number(1-10)">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
{% endblock %}
