{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
{{message}}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->

<form action="/movies" method="post">
    <div class="form-group" class="mb-3" style="padding-bottom: 12px">
        <label for="movieName" >Movie Name:</label>
        <input type="text" name="movieName" class="form-control" id="movieName" placeholder="Ex: Spiderman" aria-describedby="emailHelp" required autocomplete="off">
    </div>
    <div class="form-group" class="mb-3" style="padding-bottom: 12px">
        <label for="movieDirector">Movie Director:</label>
        <input type="text" name="movieDirector" id="movieDirector" class="form-control" placeholder="Jon Watts" required autocomplete="off">
    </div>
    <div class="form-group" class="mb-3" style="padding-bottom: 20px">
        <label for="rating">Rating:</label>
        <input type="number"name="rating" id="rating" class="form-control" placeholder="Enter a 1-5 Rating" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

{% endblock %}

